beautifulsoup4
charset_normalizer
charset_normalizer
colorama
cryptography
Django
django_rest_knox
djangorestframework
fitz
inflect
langchain
langchain_core
langchain_openai
numpy
openai
pandas
Pillow
psutil
pydantic
pydub
pygame
python-dotenv
python_dateutil
python_dateutil
Requests
scikit_learn
selenium
SpeechRecognition
tiktoken
tiktoken
webdriver_manager
